---
layout: page
title: 'Archive'
---

<div id="full-tags-list">
{%- for post in site.posts -%}
  {% assign curr = post.date | date: "%Y" %}
  {% if curr != now %}
    {% unless forloop.first %}</div>{% endunless %}
    {% assign tot = 0 %}
    {% for x in site.posts %}
      {% assign d = x.date | date: "%Y" %}
      {% if d ==  curr %}
        {% assign tot = tot | plus:1 %}
      {% endif %}
    {% endfor %}
    <h2 id="{{- cat -}}" class="linked-section">
      <i class="fa fa-tag" aria-hidden="true"></i>
        &nbsp;{{- curr -}}&nbsp;({{tot}})
    </h2>
    <div class="post-list">
    {% assign now = curr %}
  {% endif %}
      <div class="category-entry">
          <a href="{{- site.url -}}{{- post.url -}}">{{- post.title -}}</a>
        <div class="entry-date">
          <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: "%B %d, %Y" -}}</time>
        </div>
      </div>
{%- endfor -%}
</div>
